body {
    background-color:#a6be8e;
}

#title {
    text-align: center;
    font-size: 4.55vw;
    font-family: 'Loved by the King', cursive;
    letter-spacing: .12rem;
    margin: 2rem 0 1rem 0;
}

#content {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}